*~
*.o
*.gcno
*.bar
OpenGLES-ProgrammingGuide.sdf
OpenGLES-ProgrammingGuide.v12.suo
Device-Coverage/
Device-Debug/
Device-Profile/
Device-Release/
Simulator-Coverage/
Simulator-Debug/
Simulator-Profile/
